@import "src/colors";
.container {
  .content-img-initial {
    .img-home {
      text-align: end;
      img {
        max-height: 80vh;
      }
    }

    .explicacion {
      display: flex;
      justify-content: space-between;
      @media (max-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      li {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 1rem;
        text-align: center;
        font-size: 12px;
        line-height: 12px;

        img {
          margin: 1rem auto;
          width: 50px;
        }
      }
    }
  }
}
