<div class="container">
  <div class="row content-img-initial">
    <div class="col-md-7 img-home">
      <img src="assets/img/cvid-home.jpg" alt="">
    </div>
    <div class="col d-flex m-auto">
      <div class="content-info">
        <h1>¿Cómo funciona este test?</h1>
        <p class="mt-4 mb-4">Este test te sirve para identificar si los sintomas que tienes pueden ir relacionados al
          covid</p>

        <ul class="explicacion mt-3 mb-3">
          <li>
            <img src="assets/img/tiempo.svg" alt="" width="128">
            Tiempo estimado de 10min
          </li>
          <li>
            <img src="assets/img/pregunta.svg" alt="" width="128">
            5 preguntas
          </li>
          <li>
            <img src="assets/img/calificacion.svg" alt="" width="128">
            Reusltados instantaneos
          </li>
        </ul>

        <a class="button mb-5 mt-3" [routerLink]="['/examen']">Iniciar prueba</a>
      </div>
    </div>
  </div>
</div>
